{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container py-4">
        <h2>hello, @{{ session.username }}!</h2>

        <hr>

        <form action="/" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label class="form-label">what's on your mind?</label>
                {{ form.content(class="form-control", rows="3", maxlength=2000) }}
                {% for error in form.content.errors %}
                    <div class="invalid-feedback d-block">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
        
        <hr>

        {% set path = '/' %}
        {% include 'posts.html' %}
    </div>
{% endblock %}